In [ ]:
import pandas as pd

Creating dataframe

In [ ]:
df=pd.DataFrame([[1,2,3],[7,8,9],[34,67,43]],columns=["A","B","C"],index=["x","y","z"])
df.head()
df.tail(1)

    A   B   C
z  34  67  43

In [ ]:
df.index.tolist()
df.info()
df.describe()
df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

(3, 3)

In [ ]:
df.size

9

Working with real data

In [ ]:
data = pd.read_csv('/content/medical_insurance.csv')
data.head()
data.tail()

      age     sex     bmi  children smoker     region      charges
2767   47  female  45.320         1     no  southeast   8569.86180
2768   21  female  34.600         0     no  southwest   2020.17700
2769   19    male  26.030         1    yes  northwest  16450.89470
2770   23    male  18.715         0     no  northwest  21595.38229
2771   54    male  31.600         0     no  southwest   9850.43200

In [ ]:
data.describe()
data.size

19404

Converting csv file format to parquet file format(More efficient due to column based)

In [ ]:
bios=pd.read_csv('/content/medical_insurance.csv')

In [ ]:
bios.to_parquet   ## conversion to .parquet
bios.head()
bios.info()
bios['children']=bios['children'].fillna(0)
print(bios['bmi'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       2772 non-null   int64
 1   sex       2772 non-null   object
 2   bmi       2772 non-null   float64
 3   children  2772 non-null   int64
 4   smoker    2772 non-null   object
 5   region    2772 non-null   object
 6   charges   2772 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 151.7+ KB
0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
2767    45.320
2768    34.600
2769    26.030
2770    18.715
2771    31.600
Name: bmi, Length: 2772, dtype: float64

In [ ]:
## loc and iloc (for selecting data from dataframe )
bios.index=[f"Row{i+1}" for i in range(len(bios))]
bios.loc["Row130"]
bios.iloc[:50]

       age     sex     bmi  children smoker     region      charges
Row1    19  female  27.900         0    yes  southwest  16884.92400
Row2    18    male  33.770         1     no  southeast   1725.55230
Row3    28    male  33.000         3     no  southeast   4449.46200
Row4    33    male  22.705         0     no  northwest  21984.47061
Row5    32    male  28.880         0     no  northwest   3866.85520
Row6    31  female  25.740         0     no  southeast   3756.62160
Row7    46  female  33.440         1     no  southeast   8240.58960
Row8    37  female  27.740         3     no  northwest   7281.50560
Row9    37    male  29.830         2     no  northeast   6406.41070
Row10   60  female  25.840         0     no  northwest  28923.13692
Row11   25    male  26.220         0     no  northeast   2721.32080
Row12   62  female  26.290         0    yes  southeast  27808.72510
Row13   23    male  34.400         0     no  southwest   1826.84300
Row14   56  female  39.820         0     no  southeast  11090.71780
Row15   27    male  42.130         0    yes  southeast  39611.75770
Row16   19    male  24.600         1     no  southwest   1837.23700
Row17   52  female  30.780         1     no  northeast  10797.33620
Row18   23    male  23.845         0     no  northeast   2395.17155
Row19   56    male  40.300         0     no  southwest  10602.38500
Row20   30    male  35.300         0    yes  southwest  36837.46700
Row21   60  female  36.005         0     no  northeast  13228.84695
Row22   30  female  32.400         1     no  southwest   4149.73600
Row23   18    male  34.100         0     no  southeast   1137.01100
Row24   34  female  31.920         1    yes  northeast  37701.87680
Row25   37    male  28.025         2     no  northwest   6203.90175
Row26   59  female  27.720         3     no  southeast  14001.13380
Row27   63  female  23.085         0     no  northeast  14451.83515
Row28   55  female  32.775         2     no  northwest  12268.63225
Row29   23    male  17.385         1     no  northwest   2775.19215
Row30   31    male  36.300         2    yes  southwest  38711.00000
Row31   22    male  35.600         0    yes  southwest  35585.57600
Row32   18  female  26.315         0     no  northeast   2198.18985
Row33   19  female  28.600         5     no  southwest   4687.79700
Row34   63    male  28.310         0     no  northwest  13770.09790
Row35   28    male  36.400         1    yes  southwest  51194.55914
Row36   19    male  20.425         0     no  northwest   1625.43375
Row37   62  female  32.965         3     no  northwest  15612.19335
Row38   26    male  20.800         0     no  southwest   2302.30000
Row39   35    male  36.670         1    yes  northeast  39774.27630
Row40   60    male  39.900         0    yes  southwest  48173.36100
Row41   24  female  26.600         0     no  northeast   3046.06200
Row42   31  female  36.630         2     no  southeast   4949.75870
Row43   41    male  21.780         1     no  southeast   6272.47720
Row44   37  female  30.800         2     no  southeast   6313.75900
Row45   38    male  37.050         1     no  northeast   6079.67150
Row46   55    male  37.300         0     no  southwest  20630.28351
Row47   18  female  38.665         2     no  northeast   3393.35635
Row48   28  female  34.770         0     no  northwest   3556.92230
Row49   60  female  24.530         0     no  southeast  12629.89670
Row50   36    male  35.200         1    yes  southeast  38709.17600